@tailwind base;

@tailwind components;

@tailwind utilities;

.markdown {
  @apply text-sm leading-normal;
  & > * + *,
  & li + li,
  & li > p + p {
    @apply mt-6;
  }
  & strong {
    @apply text-black font-bold;
  }
  & a {
    @apply text-black font-semibold;
  }
  & strong a {
    @apply font-bold;
  }
  & h2 {
    @apply leading-tight text-xl font-bold text-black mb-2 mt-10;
  }
  & h3 {
    @apply leading-tight text-lg font-bold text-black mt-8 -mb-2;
  }
  & code {
    @apply font-mono text-sm inline px-1;
  }
  & pre code {
    @apply block bg-black p-4 rounded;
  }
  & blockquote {
    @apply border-l-4 border-gray-200 pl-4 italic;
  }
  & ul,
  & ol {
    @apply pl-4;
  }
  & ol {
    counter-reset: cookbook-counter;
    padding-left: 40px;
    & li {
      counter-increment: cookbook-counter;
      position: relative;
      margin-bottom: 40px;
    }
    & li:before {
      content: counter(cookbook-counter);
      font-size: 1.2rem;
      font-weight: 300;
      position: absolute;
      --size: 32px;
      left: calc(-1 * var(--size) - 10px);
      line-height: var(--size);
      width: var(--size);
      height: var(--size);
      top: 0;
      color: #ffffff;
      border-radius: 50%;
      text-align: center;
      @apply bg-gray-900;
    }
  }
  & ul {
    @apply list-disc;
  }
}
